Repository Yudai-Saito/Homete, pull requests merged in 2022-01, with the labels that each got.

#91 スマホサイズ時のハンバーガーメニューと投稿ボタンの追加
  frontend/src/components/PostHomete.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend

#94 スマホサイズ時の崩れた表示の修正とリアクションの表示の一部変更
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DisplayHomete.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/scss/variables.scss
  frontend/src/views/Top.vue
  frontend/vue.config.js
Labels: bug, enhancement, frontend

#95 ユーザごとのリアクション管理用API
  backend/app/app.py
  backend/docker-compose.yml
  backend/migrations/versions/20048f1dbfae_.py
  backend/models/models.py
  backend/mysql.conf
  backend/route/post.py
  backend/route/user.py
Labels: enhancement, invalid

#98 ログアウトAPIとログアウトボタンの実装
  backend/route/token.py
  backend/route/user.py
  frontend/src/components/SideMenu.vue
Labels: enhancement, frontend

#99 投稿完了時の通知
  backend/route/post.py
  frontend/src/components/PostHomete.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend

#100 Feature/#88 top notlogin
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NoLoginSideMenu.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/components/RequestMail.vue
  frontend/src/main.js
  frontend/src/scss/variables.scss
  frontend/src/views/Login.vue
  frontend/src/views/PassresetReqmail.vue
  frontend/src/views/Signup.vue
  frontend/src/views/SignupReqmail.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend

#101 未ログインユーザのトップ画面処理2
  backend/route/user.py
  frontend/src/components/SideMenu.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend, backend

#105 V1.0.0フロントとバックの細かい修正
  backend/app/app.py
  backend/models/models.py
  backend/requirements.txt
  backend/route/post.py
  frontend/src/components/NoLoginSideMenu.vue
  frontend/src/components/PostHomete.vue
  frontend/src/components/RequestMail.vue
  frontend/src/router/index.js
  frontend/src/views/Login.vue
  frontend/src/views/Passreset.vue
  frontend/src/views/Signup.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend, backend

#107 リアクションの追加/削除の送信
  backend/route/post.py
  frontend/src/components/DisplayHomete.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend, backend

#108 V1.0.0のユーザ関連の修正
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DisplayHomete.vue
  frontend/src/components/NoLoginSideMenu.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/components/SideMenu.vue
  frontend/src/scss/variables.scss
  frontend/src/store/store.js
  frontend/src/views/Login.vue
  frontend/src/views/Top.vue
Labels: enhancement, frontend

#111 AWSへのデプロイ環境を構築
  .gitignore
  backend/Dockerfile
  backend/Makefile
  backend/docker-compose.yml
  backend/route/user.py
  backend/run.py
Labels: enhancement, backend

#113 TOP画面での投稿の追記
  frontend/src/components/DisplayHomete.vue
  frontend/src/components/NoLoginSideMenu.vue
  frontend/src/components/ReactionButton.vue
  frontend/src/components/RequestMail.vue
  frontend/src/components/SideMenu.vue
  frontend/src/router/index.js
  frontend/src/views/Top.vue
Labels: enhancement, frontend, backend

#114 HOMETEのREADME
  README.md
Labels: enhancement
